html {
    font-family: Arial, Helvetica, sans-serif;
}

.site-heading {
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-bottom: 20px;
}

.by-line {
    font-size: 14px;
    font-weight: bold;
}

.article-info {
    font-weight: bold;
}

.blog-image {
    width:auto;
    max-width: 100%;
}

.caption {
    background-color: rgb(241, 241, 241);
    marin: 0; 
    border-top: 5px solid #ffbd00;
    font-size: 13px;
    margin-top: -4px;
    padding: 16px;
    line-height: 1.5;
}

.site-wrapper {
    max-width: 700px;
    margin: 0 auto;
}